#logo {
  text-align: center;
}

#logo-msg {
  text-align: center;
  font-style: italic;
}

#ingredient-form {
  text-align: center;
}

input {
  margin: 0 10px;
}

#recipeBox {
  font-size: 18px;
}

html {
    min-height: 100%
}

#vinContainer {
  float: right;
}

#vinColor {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  border-radius: 50px;
}

#vinName {
  clear: both;
  margin: 10px 0 0 0;
}

#oilContainer {
  float: right;
}

#oilColor {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  border-radius: 50px;
}

#oilName {
  clear: both;
  margin: 10px 0 0 0;
}

.vinLabel {
  padding: 15px;
  float: left;
}

.oilLabel {
  padding: 15px;
  float: left;
}
