#logo {
  text-align: center;
  font-weight: bolder;
  color: #1B1725;
}

#logo-msg {
  text-align: center;
  font-style: italic;
}

#ingredient-form {
  text-align: center;
  background: #edfcf1;
  margin: 0 10%;
  border-radius: 25px;
  border: 10px solid #1B1725;
}

#logo-box {
  margin: 0 30%;
  border-radius: 25px;
  border: 10px solid #1B1725;
  margin-bottom: -30px;
  background: #D4F4DD;
}

#recipeContainer {
  margin: 0 12%;
}

input {
  margin: 0 10px;
}

#recipeBox {
  font-size: 18px;
  background: rgb(221, 235, 221);
  padding: 0 10px;
  float: right;
  white-space: pre-wrap;
}

#ingredientBox {
  font-size: 18px;
  background: rgb(221, 235, 221);
  padding: 0 10px;
}

html {
    min-height: 100%
}

#vinContainer {
  float: right;
  width: 150px;
}

#vinColor {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  border-radius: 50px;
  clear: both;
}

#vinName {
  clear: both;
  margin: 10px 0 0 0;
}

#oilContainer {
  float: right;
  width: 150px;
}

#oilColor {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  border-radius: 50px;
}

#oilName {
  clear: both;
  margin: 10px 0 0 0;
}

.vinLabel {
  padding: 15px;
  float: left;
  margin: 25px 0 0 0;
  font-size: 16px;
}

.oilLabel {
  padding: 15px;
  float: left;
  margin: 25px 0 0 0;
  font-size: 16px;
}

.aromaticLabel {
  padding: 10px;
  float: left;
  font-size: 16px;
  transition: text-shadow 0.2s;
  margin: 25px 0 0 0;
}

body {
  background: #3C91E6;
  padding-bottom: 15px;
}

#generate-btn {
  margin-bottom: 15px;
}

.cursor {
  cursor: pointer;
}

.clear {
  clear: both;
}

.fieldset {
  height: 150px;
}

.center {
  text-align: center;
}

.form-headers {
  color: #D62246;
  float: left;
  clear: both;
}

.input-box {
  float: left;
  clear: both;
}

#landing-page {
  padding: 10px 0;
}
